<style>
  .table-responsive {

  }

  html {
    width: 1600px;
  }
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function() {
    $("#datepicker").datepicker();
  });

  $(document).on('change', '#datepicker', function() {
    var curr, first, second, third, fourth, fifth, sixth, last, firstday, lastday, secondday, thirdday, fourthday, fifthday, sixthday;
    var monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];
    curr = $('#datepicker').datepicker('getDate');
    first = curr.getDate() - curr.getDay();
    second = first +1;
    third = first + 2;
    fourth = first + 3;
    fifth = first + 4;
    sixth = first + 5;
    last = first + 6;

    firstday = new Date(curr.setDate(first));
    secondday = new Date(curr.setDate(second));
    thirdday = new Date(curr.setDate(third));
    fourthday = new Date(curr.setDate(fourth));
    fifthday = new Date(curr.setDate(fifth));
    sixthday = new Date(curr.setDate(sixth));
    lastday = new Date(curr.setDate(last));

    $('#dateTitle').text( (monthNames[firstday.getMonth()] ) + ' ' + firstday.getDate() + ', ' +  firstday.getFullYear() + " - " + (monthNames[lastday.getMonth()] ) + ' ' + lastday.getDate() + ', ' +  lastday.getFullYear() );
    $('#Date1').text("Sun " + firstday.getDate() );
    $('#Date2').text("Mon " + secondday.getDate() );
    $('#Date3').text("Tue " + thirdday.getDate() );
    $('#Date4').text("Wed " + fourthday.getDate() );
    $('#Date5').text("Thu " + fifthday.getDate() );
    $('#Date6').text("Fri " + sixthday.getDate() );
    $('#Date7').text("Sat " + lastday.getDate() );

  });

  $( document ).ready(function() {
    var curr, first, second, third, fourth, fifth, sixth, last, firstday, lastday, secondday, thirdday, fourthday, fifthday, sixthday;
    var monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];
    curr = $('#datepicker').datepicker('getDate');
    first = curr.getDate() - curr.getDay();
    second = first +1;
    third = first + 2;
    fourth = first + 3;
    fifth = first + 4;
    sixth = first + 5;
    last = first + 6;

    firstday = new Date(curr.setDate(first));
    secondday = new Date(curr.setDate(second));
    thirdday = new Date(curr.setDate(third));
    fourthday = new Date(curr.setDate(fourth));
    fifthday = new Date(curr.setDate(fifth));
    sixthday = new Date(curr.setDate(sixth));
    lastday = new Date(curr.setDate(last));

    $('#dateTitle').text( (monthNames[firstday.getMonth()] ) + ' ' + firstday.getDate() + ', ' +  firstday.getFullYear() + " - " + (monthNames[lastday.getMonth()] ) + ' ' + lastday.getDate() + ', ' +  lastday.getFullYear() );
    $('#Date1').text("Sun " + firstday.getDate() );
    $('#Date2').text("Mon " + secondday.getDate() );
    $('#Date3').text("Tue " + thirdday.getDate() );
    $('#Date4').text("Wed " + fourthday.getDate() );
    $('#Date5').text("Thu " + fifthday.getDate() );
    $('#Date6').text("Fri " + sixthday.getDate() );
    $('#Date7').text("Sat " + lastday.getDate() );

  });

  $(".dropdown-menu li a").click(function(){
    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
  });

  $( function() {
    $.widget( "custom.combobox", {
      _create: function() {
        this.wrapper = $( "<span>" )
            .addClass( "custom-combobox" )
            .insertAfter( this.element );

        this.element.hide();
        this._createAutocomplete();
        this._createShowAllButton();
      },

      _createAutocomplete: function() {
        var selected = this.element.children( ":selected" ),
            value = selected.val() ? selected.text() : "";

        this.input = $( "<input>" )
            .appendTo( this.wrapper )
            .val( value )
            .attr( "title", "" )
            .addClass( "custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left" )
            .autocomplete({
              delay: 0,
              minLength: 0,
              source: $.proxy( this, "_source" )
            })
            .tooltip({
              classes: {
                "ui-tooltip": "ui-state-highlight"
              }
            });

        this._on( this.input, {
          autocompleteselect: function( event, ui ) {
            ui.item.option.selected = true;
            this._trigger( "select", event, {
              item: ui.item.option
            });
          },

          autocompletechange: "_removeIfInvalid"
        });
      },

      _createShowAllButton: function() {
        var input = this.input,
            wasOpen = false;

        $( "<a>" )
            .attr( "tabIndex", -1 )
            .attr( "title", "Show All Items" )
            .tooltip()
            .appendTo( this.wrapper )
            .button({
              icons: {
                primary: "ui-icon-triangle-1-s"
              },
              text: false
            })
            .removeClass( "ui-corner-all" )
            .addClass( "custom-combobox-toggle ui-corner-right" )
            .on( "mousedown", function() {
              wasOpen = input.autocomplete( "widget" ).is( ":visible" );
            })
            .on( "click", function() {
              input.trigger( "focus" );

              // Close if already visible
              if ( wasOpen ) {
                return;
              }

              // Pass empty string as value to search for, displaying all results
              input.autocomplete( "search", "" );
            });
      },

      _source: function( request, response ) {
        var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
        response( this.element.children( "option" ).map(function() {
          var text = $( this ).text();
          if ( this.value && ( !request.term || matcher.test(text) ) )
            return {
              label: text,
              value: text,
              option: this
            };
        }) );
      },

      _removeIfInvalid: function( event, ui ) {

        // Selected an item, nothing to do
        if ( ui.item ) {
          return;
        }

        // Search for a match (case-insensitive)
        var value = this.input.val(),
            valueLowerCase = value.toLowerCase(),
            valid = false;
        this.element.children( "option" ).each(function() {
          if ( $( this ).text().toLowerCase() === valueLowerCase ) {
            this.selected = valid = true;
            return false;
          }
        });

        // Found a match, nothing to do
        if ( valid ) {
          return;
        }

        // Remove invalid value
        this.input
            .val( "" )
            .attr( "title", value + " didn't match any item" )
            .tooltip( "open" );
        this.element.val( "" );
        this._delay(function() {
          this.input.tooltip( "close" ).attr( "title", "" );
        }, 2500 );
        this.input.autocomplete( "instance" ).term = "";
      },

      _destroy: function() {
        this.wrapper.remove();
        this.element.show();
      }
    });

    $( "#combobox" ).combobox();
    $( "#toggle" ).on( "click", function() {
      $( "#combobox" ).toggle();
    });
  } );
</script>
</head>





<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid" >
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="sidebarNav">
          <h2>Timesheet</h2>
          <div style="" id="datepicker"></div>
          </br>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
         <!-- <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul> -->
        </div>

        <div id="dashContents">
          <div style="position: relative;height:80px;">
          <h2 class="page-header" style="left:310px;position:absolute;" id="dateTitle"></h2>
            <div class="btn-group" role="group" aria-label="..." style="left:310px;position:absolute;top:100px;">
              <button type="button" class="btn btn-default" id="saveButton"> <span class="glyphicon glyphicon-check" aria-hidden="true"></span> Save</button>

            </div>


          </div>
<!--
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

-->


          <h2 class="sub-header">Timesheet</h2>
          <div class="table-responsive" id="pageGapDash">
            <table class="table table-striped" style="font-size:12px;">
              <thead>
                <tr >
                  <th >Credit Union</th>
                  <th >Activity</th>
                  <th >Task</th>
                  <th >Billing Options</th>
                  <th >Billing Opt - SCR</th>
                  <th >Billing Opt - FTR</th>
                  <th  id="Date1"></th>
                  <th  id="Date2"></th>
                  <th  id="Date3"></th>
                  <th  id="Date4"></th>
                  <th  id="Date5"></th>
                  <th  id="Date6"></th>
                  <th  id="Date7"></th>
                  <th >Total</th>

                </tr>
              </thead>
              <tbody>
                <tr >

                  <td >

                    <select class="selectpicker show-tick" data-live-search="true" title="Credit Union" data-width="120px" >
                      <option value="ActionScript">ActionScript</option>
                      <option value="AppleScript">AppleScript</option>
                      <option value="Asp">Asp</option>
                      <option value="BASIC">BASIC</option>
                      <option value="C">C</option>
                      <option value="C++">C++</option>
                      <option value="Clojure">Clojure</option>
                      <option value="COBOL">COBOL</option>
                      <option value="ColdFusion">ColdFusion</option>
                      <option value="Erlang">Erlang</option>
                      <option value="Fortran">Fortran</option>
                      <option value="Groovy">Groovy</option>
                      <option value="Haskell">Haskell</option>
                      <option value="Java">Java</option>
                      <option value="JavaScript">JavaScript</option>
                      <option value="Lisp">Lisp</option>
                      <option value="Perl">Perl</option>
                      <option value="PHP">PHP</option>
                      <option value="Python">Python</option>
                      <option value="Ruby">Ruby</option>
                      <option value="Scala">Scala</option>
                      <option value="Scheme">Scheme</option>
                    </select>
                  </td>
                  <td>
                    <select class="selectpicker show-tick" data-live-search="true" title="Activity" data-width="120px" style="color:black;">
                      <option>06-CU-10 IT Compliance Review</option>
                      <option>748 Annual Review</option>
                      <option>ACH Audit</option>
                      <option>ACH Audit Risk Assessment</option>
                      <option>Administrative</option>
                      <option >ATM Safety Evaluation</option>
                      <option >Ballot Tabulation</option>
                      <option >Bank Reconciliation</option>
                      <option >BSA/CIP/OFAC Compliance Review</option>
                      <option >Call Report Preparation</option>
                      <option >Cash Counts</option>
                      <option >Custom IT Consulting</option>
                      <option >Cyber Security Assessment Toolkit</option>
                      <option >FTR Speaking Engagement</option>
                      <option >FTR Workshops</option>
                      <option >Holiday</option>
                      <option >Holiday/Personal</option>
                      <option >Illness</option>
                      <option >Internal Audit</option>
                      <option >Loan Review</option>
                      <option >Member Account Verification</option>
                      <option >PCI PIN Security Compliance Review</option>
                      <option >Personal</option>
                      <option >Remote Systems Maintence</option>
                      <option >Risk Assessment & Policy Development</option>
                      <option >Special Services</option>
                      <option >Supervisory Committee Annual Review</option>
                      <option >TR-39 PIN Audit</option>
                      <option >Travel</option>
                      <option >Vacation</option>
                      <option >Vulnerability Assessment Training</option>
                    </select>
                 </td>
                  <td>
                    <%= form_for(@new_pages) do |t| %>
                        <%= t.select :creditUnion, options_for_select([
                                                                             ["Select One", ""],
                                                                             "Your nick name",
                                                                             "your schoool name",
                                                                             "your love name",
                                                                             "your comapnay name",
                                                                             "your favourite website"]),
                                     {}, { class: "selectpicker show-tick" }, :data => { :width => '90px' } %>
                    <%= t.submit %>
                    <% end %>
                    <!--
                    <select class="selectpicker show-tick" title="Task" data-width="90px">
                      <option>Production</option>
                      <option>Non-Production</option>
                    </select> -->
                 </td>
                  <td>
                    <select class="selectpicker show-tick" title="Bill" data-width="90px">
                      <option>Onsite</option>
                      <option>Remote</option>
                    </select>
                  </td>
                  <td>
                    <select class="selectpicker show-tick" title="Bill SCR" data-width="100px">
                      <option>Meeting Billable</option>
                      <option>Non-Billable</option>
                      <option>Onsite Billable</option>
                      <option>Remote Billable</option>
                      <option>Report Review Billable</option>
                      <option>Report Writing Billable</option>
                      <option>Setup/Preaudit Billable</option>
                    </select>
                  </td>
                  <td>
                    <select class="selectpicker show-tick" title="Bill FTR" data-width="100px">
                    <option>Meeting Billable</option>
                    <option>Non-Billable</option>
                    <option>Onsite Billable</option>
                    <option>Remote Billable</option>
                    <option>Report Review Billable</option>
                    <option>Report Writing Billable</option>
                    <option>Setup/Preaudit Billable</option>
                  </select></td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon1" style="width:60px">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon1" style="width:60px">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon1" style="width:60px">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon1" style="width:60px">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon1" style="width:60px">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon1" style="width:60px">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon1" style="width:60px">
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon1" style="width:60px">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
