<style>
  .table-responsive {

  }
  .css-class-to-highlight a {
    background-color: #910101 !important;
    background-image :none !important;
    color: #efefef !important;
  }
  .css-class-to-highlight-good a {
    background-color: #218212 !important;
    background-image :none !important;
    color: #efefef !important;
  }
  .ui-datepicker-current-day a {
    background-color: #007fff !important;
    background-image :none !important;
    color: #efefef !important;
  }

  html {
    width: 1600px;
  }
  .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
  }
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

  .scrollable-menu {
    height: auto;
    max-height: 270px;
    overflow-x: hidden;
  }
  .btn-circle.btn-lg {
    width: 40px;
    height: 40px;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 25px;
  }



  .feedback textarea{height: 180px; }
  .feedback .screenshot{ position: relative; top: -24px; right: 10px; opacity: .6}
  .feedback .screenshot:hover{  opacity: 1}
  .feedback .reported p, .feedback .failed p  { height: 190px}


  .feedback.left{left:5px; bottom:15px}
  .feedback.right{right:5px; bottom:15px}

  .feedback .dropdown-menu{width: 290px;height: 320px;bottom: 50px;}
  .feedback.left .dropdown-menu{ left: 0px}
  .feedback.right .dropdown-menu{ right: 0px}
  .feedback .hideme{ display: none}
</style>
<script>

  function totalColumns() {
      var sunTotal,monTotal,tueTotal,wedTotal,thuTotal,friTotal,satTotal,totalTotal;
      sunTotal = 0.00, monTotal = 0.00, tueTotal = 0.00, wedTotal = 0.00, thuTotal = 0.00, friTotal = 0.00, satTotal = 0.00, totalTotal = 0.00;


      $(".sunEntry").each(function () {
          if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
              sunTotal += parseFloat($(this).text());
          }
      });
      $(".monEntry").each(function () {
          if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
              monTotal += parseFloat($(this).text());
          }
      });
      $(".tueEntry").each(function () {
          if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
              tueTotal += parseFloat($(this).text());
          }
      });
      $(".wedEntry").each(function () {
          if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
              wedTotal += parseFloat($(this).text());
          }
      });
      $(".thuEntry").each(function () {
          if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
              thuTotal += parseFloat($(this).text());
          }
      });
      $(".friEntry").each(function () {
          if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
              friTotal += parseFloat($(this).text());
          }
      });
      $(".satEntry").each(function () {
          if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
              satTotal += parseFloat($(this).text());
          }
      });
      $(".totalEntry").each(function () {
          if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
              totalTotal += parseFloat($(this).text());
          }
      });
      $("#totalSun").text(sunTotal);
      $("#totalMon").text(monTotal);
      $("#totalTue").text(tueTotal);
      $("#totalWed").text(wedTotal);
      $("#totalThu").text(thuTotal);
      $("#totalFri").text(friTotal);
      $("#totalSat").text(satTotal);
      $("#totalTotal").text(totalTotal);

      if(sunTotal < 8) {
          $("#totalSun").closest("td").css('background-color','#efefef');
      } else { $("#totalSun").closest("td").css('background-color','#DFF0D8'); }
      if(monTotal < 8) {
          $("#totalMon").closest("td").addClass("danger");
      } else { $("#totalMon").closest("td").removeClass("danger"); }
      if(tueTotal < 8) {
          $("#totalTue").closest("td").addClass("danger");
      } else { $("#totalTue").closest("td").removeClass("danger"); }
      if(wedTotal < 8) {
          $("#totalWed").closest("td").addClass("danger");
      } else { $("#totalWed").closest("td").removeClass("danger"); }
      if(thuTotal < 8) {
          $("#totalThu").closest("td").addClass("danger");
      } else { $("#totalThu").closest("td").removeClass("danger"); }
      if(friTotal < 8) {
          $("#totalFri").closest("td").addClass("danger");
      } else { $("#totalFri").closest("td").removeClass("danger"); }
      if(satTotal < 8) {
          $("#totalSat").closest("td").css('background-color','#efefef');
      } else { $("#totalSat").closest("td").css('background-color','#DFF0D8'); }
      if(totalTotal < 40) {
          $("#totalTotal").closest("td").addClass("danger");
      } else
          {
              $("#totalTotal").closest("td").removeClass("danger");
              $("#totalSun").closest("td").css('background-color','#DFF0D8');
              $("#totalMon").closest("td").removeClass("danger");
              $("#totalTue").closest("td").removeClass("danger");
              $("#totalWed").closest("td").removeClass("danger");
              $("#totalThu").closest("td").removeClass("danger");
              $("#totalFri").closest("td").removeClass("danger");
              $("#totalSat").closest("td").css('background-color','#DFF0D8');

      }


      //if($("#totalSun").closest("td").hasClass("danger") || $("#totalMon").closest("td").hasClass("danger") || $("#totalTue").closest("td").hasClass("danger") || $("#totalWed").closest("td").hasClass("danger") || $("#totalThu").closest("td").hasClass("danger") || $("#totalFri").closest("td").hasClass("danger") || $("#totalSat").closest("td").hasClass("danger") || $("#totalTotal").closest("td").hasClass("danger") ) {
      if($("#totalTotal").closest("td").hasClass("danger") ) {
          $(".otherTotalCol").each(function() {
              $(this).addClass("danger");
          });
      } else {
          $(".otherTotalCol").each(function() {
              $(this).removeClass("danger");
          });
      }

  }

  $(function() {
      //Init Datepicker and add Highlights if timesheets aren't finished

      var counter = 0;
      var test = []; eventDates = [], eventDatesGood = []; dateRange = [], sun = [], mon = [], tue = [], wed = [], thu = [], fri = [], sat = [], total = [];
      var first, countz, curr;
      $('.timesheetEntry').each(function() {
          curr = new Date(moment($(this).find(".dateBlob").text()));
          first = new Date(curr.setDate(curr.getDate() - curr.getDay()));
          if (test.indexOf(first.toString().substring(0,10)) == -1) {
              test[counter] = first.toString().substring(0,10);
              dateRange[counter] = first;
              sun[counter] = parseFloat($(this).find(".sunEntry").text());
              mon[counter] = parseFloat($(this).find(".monEntry").text());
              tue[counter] = parseFloat($(this).find(".tueEntry").text());
              wed[counter] = parseFloat($(this).find(".wedEntry").text());
              thu[counter] = parseFloat($(this).find(".thuEntry").text());
              fri[counter] = parseFloat($(this).find(".friEntry").text());
              sat[counter] = parseFloat($(this).find(".satEntry").text());
              total[counter] = parseFloat($(this).find(".totalEntry").text());
              counter += 1;
          } else {
              sun[test.indexOf(first.toString().substring(0,10))] = sun[test.indexOf(first.toString().substring(0,10))] + parseFloat($(this).find(".sunEntry").text());
              mon[test.indexOf(first.toString().substring(0,10))] = mon[test.indexOf(first.toString().substring(0,10))] + parseFloat($(this).find(".monEntry").text());
              tue[test.indexOf(first.toString().substring(0,10))] = tue[test.indexOf(first.toString().substring(0,10))] + parseFloat($(this).find(".tueEntry").text());
              wed[test.indexOf(first.toString().substring(0,10))] = wed[test.indexOf(first.toString().substring(0,10))] + parseFloat($(this).find(".wedEntry").text());
              thu[test.indexOf(first.toString().substring(0,10))] = thu[test.indexOf(first.toString().substring(0,10))] + parseFloat($(this).find(".thuEntry").text());
              fri[test.indexOf(first.toString().substring(0,10))] = fri[test.indexOf(first.toString().substring(0,10))] + parseFloat($(this).find(".friEntry").text());
              sat[test.indexOf(first.toString().substring(0,10))] = sat[test.indexOf(first.toString().substring(0,10))] + parseFloat($(this).find(".satEntry").text());
              total[test.indexOf(first.toString().substring(0,10))] = total[test.indexOf(first.toString().substring(0,10))] + parseFloat($(this).find(".totalEntry").text());
              console.log(test.indexOf(first.toString().substring(0,10)));
          }
      });

      counter = 0;
      countz = 0;
      dateRange.forEach(function(entry) {
          if(total[counter] >= 40) {
              eventDatesGood[countz] = new Date(entry.setDate(entry.getDate()));
              countz += 1;
              for (index = countz; index < countz + 6; ++index) {
                  eventDatesGood[index] = new Date(entry.setDate(entry.getDate() + 1));
              }
              countz += 6;
          }
          else {
              eventDates[countz] = new Date(entry.setDate(entry.getDate()));
              countz += 1;
              for (index = countz; index < countz + 6; ++index) {
                  eventDates[index] = new Date(entry.setDate(entry.getDate() + 1));
              }
              countz += 6;
          }
          counter += 1;
      });

    $("#datepicker").datepicker( {
        beforeShowDay: function( date ) {
            for (var i = 0; i < eventDates.length; i++) {
                if (new Date(eventDates[i]).toString() == date.toString()) {
                    return [true, 'css-class-to-highlight', 'You do not have 40 hours.'];
                }
            }
            for (var i = 0; i < eventDatesGood.length; i++) {
                if (new Date(eventDatesGood[i]).toString() == date.toString()) {
                    return [true, 'css-class-to-highlight-good', 'Completed!'];
                }
            }
            return [true, ''];
        }
    });
    $('.selectpicker').selectpicker();


    //Checks if things aren't filled, prompts user

      $(".actualSubmitBut").hover( function() {
          //alert( $(".activitySelect").val() );
          var message;
          if ($(".creditUnionSelect option:checked").val() == "") { message = "Credit Union, " }
          if ($(".activitySelect option:checked").val() == "") { message = message + "Activity, " }
          if ($(".task option:checked").val() == "") { message = message + "Task, " }
          if ($(".billing-options option:checked").val() == "") { message = message + "Billing-Options" }
          if ($(".creditUnionSelect option:checked").val() == "" || $(".activitySelect option:checked").val() == "" || $(".task option:checked").val() == "" || $(".billing-options option:checked").val() == "") {
              $(".actualSubmitBut").data("confirm", "You are missing some pieces of information. Continue without " + message + "?");
          }
          else {
              $(".actualSubmitBut").removeData("confirm");
          }
      });


  });



  $(document).on('change', 'textarea', function() {
      $('textarea').each(function() {
          if ($(this).val() != "") {
              $(this).closest(".dropdown").find(".glyphicon-comment").css("color","green");
          } else {
              $(this).closest(".dropdown").find(".glyphicon-comment").css("color","");
          }
      });
  });

  $(document).on('change', '.task', function() {
      if ($(this).val() == "Non-Production") {
          $(".billing-options").val("Non-Billable");
          $('.selectpicker').selectpicker('refresh');
      }

  });

  function submitButton() {
      var counter = 0;
      $(".submitButton").each(function() {
          var dater = $(this).parent().parent().find("#submitDate").text();
          var submitStatus = $(this).parent().parent().find("#submitStatus").text();
          //alert(dater + "...." + lastday + "...." + firstday);
          if (moment(dater) <= lastday && moment(dater) >= firstday && counter == 0) {
              $(this).css("display","");
              counter = 1;
              if (submitStatus == "Not Submitted" || submitStatus == "") {
                  $(this).removeClass("btn-danger");
                  $(this).addClass("btn-success");
                  $(this).attr("value","Submitted");
                  $(this).text("Submit for Approval?");
              } else {
                  $(this).removeClass("btn-success");
                  $(this).addClass("btn-danger");
                  $(this).attr("value","Not Submitted");
                  $(this).text("Unsubmit for Approval?");
                  $("#pageGapDash").addClass("disabledbutton");
              }
          } else {
              $(this).css("display","none");
          }
      });
  }

  var curr, first, second, third, fourth, fifth, sixth, last, firstday, lastday, secondday, thirdday, fourthday, fifthday, sixthday;

  $(document).on('change', '#datepicker', function() {
  var monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];

    $("#timesheetContent").fadeOut();

//waits until fadeout is completed can calls the rest
 $("#timesheetContent").promise().done(function(){

    curr = $('#datepicker').datepicker('getDate');
    first = curr.getDate() - curr.getDay();
    firstday = new Date(curr.setDate(first));
    second = curr.getDate() +1;
    secondday = new Date(curr.setDate(second));
    third = curr.getDate() + 1;
    thirdday = new Date(curr.setDate(third));
    fourth = curr.getDate() + 1;
    fourthday = new Date(curr.setDate(fourth));
    fifth = curr.getDate() + 1;
    fifthday = new Date(curr.setDate(fifth));
    sixth = curr.getDate() + 1;
    sixthday = new Date(curr.setDate(sixth));
    last = curr.getDate() + 1;
    lastday = new Date(curr.setDate(last));

    $('#dateTitle').text( (monthNames[firstday.getMonth()] ) + ' ' + firstday.getDate() + ', ' +  firstday.getFullYear() + " - " + (monthNames[lastday.getMonth()] ) + ' ' + lastday.getDate() + ', ' +  lastday.getFullYear() );
    $('#Date1').text("Sun " + firstday.getDate() );
    $('#Date2').text("Mon " + secondday.getDate() );
    $('#Date3').text("Tue " + thirdday.getDate() );
    $('#Date4').text("Wed " + fourthday.getDate() );
    $('#Date5').text("Thu " + fifthday.getDate() );
    $('#Date6').text("Fri " + sixthday.getDate() );
    $('#Date7').text("Sat " + lastday.getDate() );

    $('#datePicked').val(moment($('#datepicker').datepicker('getDate')).format("YYYY-MM-DD"));

    var heights = 0;
    $('#tableElements').children('tr').each(function () {
      if (moment($(this).children('.dateBlob').text()) <= lastday && moment($(this).children('.dateBlob').text()) >= firstday) {
        $(this).css("display","");
        heights += 1;
        $(this).children('td').each(function (index, element) {
          var str = $(this).text();
          if(str.length > 10) {
            str = str.substring(0, 15) + "...";
            $(this).text(str);
          }
            return index < 3;
        });

      } else {
        $(this).css("display","none");
        // alert($(this).children('.dateBlob').text() + "      " + $.datepicker.formatDate("yy-mm-dd", curr) );
      }
    });
      heights = 500 + (60 * heights);
      $('#pageGapDash').css("height",heights);


    //Saves date local variable
    sessionStorage.datePicked = $('#datepicker').datepicker('getDate');

      totalColumns();
      submitButton();
      $("#timesheetContent").fadeIn();

  });



  });

  $( document ).ready(function() {
   var monthNames = ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];

      if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          $('#sidebarNav').find('[datePickerTag="first"]').removeAttr("id");
      }
      else {
          $('#sidebarNav').find('[datePickerTag="first"]').attr("id","datepicker");
          $('#dashContents').find('[datePickerTag="last"]').css("display","none");
      }

    if (sessionStorage.refreshCount == undefined) {
      $("#datepicker").datepicker().datepicker("setDate", new Date());
      sessionStorage.refreshCount = 1;
    } else {
      var date = sessionStorage.datePicked;
      date = new Date(date);
      date.setDate(date.getDate());

      $("#datepicker").datepicker().datepicker("setDate", date );
    }
    sessionStorage.refreshCount = sessionStorage.refreshCount + 1;
    console.log(sessionStorage.refreshCount);
    //new Date("10/10/2016")

    curr = $('#datepicker').datepicker('getDate');
    first = curr.getDate() - curr.getDay();

    firstday = new Date(curr.setDate(first));
    second = curr.getDate() +1;
    secondday = new Date(curr.setDate(second));
    third = curr.getDate() + 1;
    thirdday = new Date(curr.setDate(third));
    fourth = curr.getDate() + 1;
    fourthday = new Date(curr.setDate(fourth));
    fifth = curr.getDate() + 1;
    fifthday = new Date(curr.setDate(fifth));
    sixth = curr.getDate() + 1;
    sixthday = new Date(curr.setDate(sixth));
    last = curr.getDate() + 1;
    lastday = new Date(curr.setDate(last));

    $('#dateTitle').text( (monthNames[firstday.getMonth()] ) + ' ' + firstday.getDate() + ', ' +  firstday.getFullYear() + " - " + (monthNames[lastday.getMonth()] ) + ' ' + lastday.getDate() + ', ' +  lastday.getFullYear() );
    $('#Date1').text("Sun " + firstday.getDate() );
    $('#Date2').text("Mon " + secondday.getDate() );

    $('#Date3').text("Tue " + thirdday.getDate() );
    $('#Date4').text("Wed " + fourthday.getDate() );
    $('#Date5').text("Thu " + fifthday.getDate() );
    $('#Date6').text("Fri " + sixthday.getDate() );
    $('#Date7').text("Sat " + lastday.getDate() );

    $('#datePicked').val(moment($('#datepicker').datepicker('getDate')).format("YYYY-MM-DD"));

    //Limits text to 15 characters and hides entries
      var heights = 0;
    $('#tableElements').children('tr').each(function () {
      if (moment($(this).children('.dateBlob').text()) <= lastday && moment($(this).children('.dateBlob').text()) >= firstday) {
        $(this).css("display","");
        heights += 1;
        $(this).children('td').each(function (index, element) {
          var str = $(this).text();
          if(str.length > 10) {
            str = str.substring(0, 15) + "...";
            $(this).text(str);
          }
          return index < 3;
        });
      } else {
        $(this).css("display","none");
        // alert($(this).children('.dateBlob').text() + "      " + $.datepicker.formatDate("yy-mm-dd", curr) );
      }

    });

      //counts height of table

      heights = 500 + (60 * heights);
      $('#pageGapDash').css("height",heights);

    //Saves date local variable
    sessionStorage.datePicked = $('#datepicker').datepicker('getDate');

    //hide notes for entries without them

    $(".noteclass").each(function () {
       if ($(this).text() == "") {
           $(this).closest(".dropdown").find(".dropdown-toggle").css("display","none");
       }
    });

    totalColumns();
    submitButton();

  });

  $(window).scroll(function (event) {
    var scroll = $(window).scrollLeft();
    if (scroll > 50 ) {
      $('#submitBut').css('position','fixed');
    }
    else {
      $('#submitBut').css('position','');
    }
    // Do something
  });

  $(".dropdown-menu li a").click(function(){
    $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
    $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
  });

  var sum;
  $(document).on('change', '.numb', function() {
    sum = 0;
    $('.numb').each(function () {
      sum = sum + Number($(this).val());
    });
    $('#totalNew').val(sum);
  });

  function validate(evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode( key );
    var regex = /[0-9]|\./;
    if( !regex.test(key) ) {
      theEvent.returnValue = false;
      if(theEvent.preventDefault) theEvent.preventDefault();
    }
  }


</script>
</head>



<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" >Timesheet</a></li>
        <% if current_user.admin == true %>
            <li><a href="/approvals" >Timesheet Approvals</a></li>
        <% end %>
        <li><a href="/expenses" >Expenses</a></li>
        <% if current_user.admin == true %>
            <li><a href="/expensesapprovals" >Expenses Approvals</a></li>
            <li><a href="/exports" >Exports</a></li>
        <% end %>
        <li><%= link_to "Settings", edit_user_registration_path(@user) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :get) %></li>
      </ul>

    </div>
  </div>
</nav>

<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" id="sidebarNav">
      <div style="line-height:75%;"><br></div>
      <h2 style="text-align: center;">Timesheet</h2>
      </br>

      <div style="" id="datepicker" datePickerTag="first"></div>
      </br>
      </br>
      <ul class="nav nav-sidebar">
        <li class="active"><a class="hvr-sweep-to-right" href="/" >Timesheet<span class="glyphicon glyphicon-time pull-right"></span></a></li>
        <% if current_user.admin == true %>
            <li ><a class="hvr-sweep-to-right" href="/approvals">Timesheet Approvals<span class="sr-only">(current)</span><span class="glyphicon glyphicon-ok-circle pull-right"></span></a></li>
        <% end %>
        <li ><a class="hvr-sweep-to-right" href="/expenses">Expenses<span class="glyphicon glyphicon-usd pull-right"></span></a></li>
        <% if current_user.admin == true %>
            <li><a class="hvr-sweep-to-right" href="/expensesapprovals">Expenses Approvals<span class="glyphicon glyphicon-ok pull-right"></span></a></li>
            <li><a class="hvr-sweep-to-right" href="/exports">Exports<span class="glyphicon glyphicon-floppy-save pull-right"></span></a></li>
        <% end %>
      </ul>
      <!-- <ul class="nav nav-sidebar">
         <li><a href="">Nav item</a></li>
         <li><a href="">Nav item again</a></li>
         <li><a href="">One more nav</a></li>
         <li><a href="">Another nav item</a></li>
         <li><a href="">More navigation</a></li>
       </ul>
       <ul class="nav nav-sidebar">
         <li><a href="">Nav item again</a></li>
         <li><a href="">One more nav</a></li>
         <li><a href="">Another nav item</a></li>
       </ul> -->
    </div>

    <div id="timesheetContent">
<% if user_signed_in? %>
    <% if current_user.admin == true %>
      <%= render "adminuser" %>
    <% else %>
      <%= render "normaluser" %>
    <% end %>
<% end %>
    </div>