<body>
<br>
<div class="container">

  <div class="jumbotron">
    <h1>Need to become an Admin?</h1>
    <p class="lead">Come to Steven and he will give you the password to become an Admin! Just type it below to become an Admin of your department!</p>
    <br>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Become Admin!</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h4>Change First Name?</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

      <h4>Change Last Name?</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>

    <div class="col-lg-6">
      <h4>Change Department?</h4>
      <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>


    </div>
  </div>
</body>