<head>
  <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
    p {
      font-family: 'Titillium Web', Helvetica, sans-serif;
    }
  </style>
</head>
<body>
<img src="http://i.imgur.com/2Y7jOGx.jpg" style="max-width:300%;min-width:100%;">
<font face="Titillium Web', Helvetica, sans-serif;">
  <p style="text-align:center;"><img src="http://i.imgur.com/6yYQZqE.png"></p>

  <p style="color:blue;">Hello <%= @user.first_name %> <%= @user.last_name %>!</p>

  <p><%= @current.first_name %> <%= @current.last_name %> wanted to let you know that you haven't submitted all of your timesheets in the past two weeks.</p>
  <p>Please log onto GoldBar and submit your timesheets! :D</p>

  <p>Do NOT respond to this email because it's just a robot. It has no brain. It does not have the cognitive capacity to reply to you.</p>
  <br>


</font>
</body>