<img src="http://i.imgur.com/2Y7jOGx.jpg" style="max-width:300%;min-width:100%;">
<p style="text-align:center;"><img src="http://i.imgur.com/6yYQZqE.png"></p>

<p>Hello <%= @resource.email %>!</p>

<p>Just giving you a friendly heads up that your password has been changed.</p>

